<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348529831299-5li09kjo7u537rg69b51m1vnjb5ho91n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348529831299-5li09kjo7u537rg69b51m1vnjb5ho91n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>348529831299-3ko41v109upetvetcefn5p3alok5jg9v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDy5HDRo957G79qN1nok4p-yZVOzaRExuo</string>
	<key>GCM_SENDER_ID</key>
	<string>348529831299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelui</string>
	<key>PROJECT_ID</key>
	<string>login-c2dcc</string>
	<key>STORAGE_BUCKET</key>
	<string>login-c2dcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348529831299:ios:d7bca7ab2557bd09d19ab6</string>
</dict>
</plist>